* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container {
  background-color: #1c469a;
  padding: 0px 30px 0px 30px;
}
.subscript {
  font-size: 12px;
  color: #888;
  margin-top: 4px;
  text-align: center;
}

.form-group.row {
  margin-bottom: 10px;
}

.selection-container {
  display: flex;
  justify-content: center;
}

.radio-label {
  margin-right: 20px;
}

h1.add-header {
  font: caption;
}

h1.add-header {
  font-family: "PT Serif Caption", serif;
  font-size: 40px;
}

.icon-header {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;

  padding-top: 20px;
}

.add-header {
  color: #d3bc8e;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr-heading {
  color: #4f5c79;
  border: 2px solid #4f5c79;
  border-radius: 5px;
  width: 700px;
}

.hr-text {
  color: #4f5c79;
  border: 2px solid #4f5c79;
  border-radius: 5px;
  width: relative;
  margin: 10px 0px;
}
