{% extends 'base.html' %}
{% load static tailwind_tags %}

{% tailwind_css %}

{% block content %}
{% if user.is_authenticated %}

<label class="font-bold text-5xl ml-12 mt-4 " style="color: #39B8FF;">Accepted Vs Applied</label>
<div class="flex justify-between mx-4 mt-4">
    <div class="bg-gray-800 ml-48 mt-24 rounded flex flex-col justify-center items-center"
        style="width: 630px; height: 320px">
        <label class="font-bold text-4xl mb-4" style="color: white;">20</label>
        <label class="font-bold text-5xl mb-4" style="color: #39B8FF;">Accepted</label>
    </div>

    <div class="bg-gray-800 mr-48 mt-24 rounded flex flex-col justify-center items-center"
        style="width: 630px; height: 320px">
        <label class="font-bold text-4xl mb-4" style="color: white;">20</label>
        <label class="font-bold text-5xl mb-4" style="color: #39B8FF;">Applied</label>
    </div>
</div>

{% endif %}
{% endblock %}