<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="flex justify-between mx-4 mt-4">
    <div class="chart-wrapper" style="width: 750px; height: 250px; margin: 12;">
        <canvas id="frstColumnCourseStackHorizontalChart"></canvas>
    </div>

    <div class="chart-wrapper ml-5" style="width: 750px; height: 250px; margin: 12;">
        <canvas id="scndColumnCourseStackHorizontalChart"></canvas>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx1 = document.getElementById('frstColumnCourseStackHorizontalChart').getContext('2d');
        var ctx2 = document.getElementById('scndColumnCourseStackHorizontalChart').getContext('2d');

        const courseCustomLabels = {{ courseCustomLabels|safe }};
        const courseDataCounts = {{ courseDataCounts|safe }};
        const DATA_COUNT = courseCustomLabels.length;

        const backgroundColors = [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 205, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(128, 0, 0, 0.2)',
            'rgba(0, 128, 0, 0.2)',
            'rgba(0, 0, 128, 0.2)',
            'rgba(255, 0, 255, 0.2)', 
            'rgba(0, 255, 255, 0.2)', 
            'rgba(255, 255, 0, 0.2)', 
            'rgba(128, 128, 128, 0.2)', 
            'rgba(255, 165, 0, 0.2)', 
        ];

        const borderColor = [
            'rgba(255, 99, 132)',
            'rgba(255, 159, 64)',
            'rgba(255, 205, 86)',
            'rgba(75, 192, 192)',
            'rgba(54, 162, 235)',
            'rgba(128, 0, 0)',
            'rgba(0, 128, 0)',
            'rgba(0, 0, 128)',
            'rgba(255, 0, 255)', 
            'rgba(0, 255, 255)', 
            'rgba(255, 255, 0)', 
            'rgba(128, 128, 128)', 
            'rgba(255, 165, 0)', 
        ];

        const firstColumnLabels = courseCustomLabels.slice(0, Math.ceil(DATA_COUNT / 2));
        const secondColumnLabels = courseCustomLabels.slice(Math.ceil(DATA_COUNT / 2));

        const firstColumnData = courseDataCounts.slice(0, Math.ceil(DATA_COUNT / 2));
        const secondColumnData = courseDataCounts.slice(Math.ceil(DATA_COUNT / 2));

        const data1 = {
            labels: firstColumnLabels,
            datasets: [
                {
                    label: 'Course Counts',
                    data: firstColumnData,
                    borderColor: borderColor,
                    backgroundColor: backgroundColors.slice(0, Math.ceil(DATA_COUNT / 2)),
                    borderWidth: 1
                },
            ]
        };

        const data2 = {
            labels: secondColumnLabels,
            datasets: [
                {
                    label: 'Course Counts',
                    data: secondColumnData,
                    borderColor: borderColor,
                    backgroundColor: backgroundColors.slice(Math.ceil(DATA_COUNT / 2)),
                    borderWidth: 1
                },
            ]
        };

        var stackHorizontalChart1 = new Chart(ctx1, {
            type: 'bar',
            data: data1,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                indexAxis: 'y',
                scales: {
                    x: {
                        stacked: true,
                        display: false,
                        ticks: {
                            color: 'white' 
                        }
                    },
                    y: {
                        stacked: true,
                        grid: {
                            display: false 
                        },
                        ticks: {
                            stepSize: 1,
                            color: 'white' 
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: false 
                    },
                    labels: {
                        color: 'white' 
                    }
                }
            }
        });

        var stackHorizontalChart2 = new Chart(ctx2, {
            type: 'bar',
            data: data2,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                indexAxis: 'y',
                scales: {
                    x: {
                        stacked: true,
                        display: false,
                        ticks: {
                            color: 'white' 
                        }
                    },
                    y: {
                        stacked: true,
                        grid: {
                            display: false 
                        },
                        ticks: {
                            stepSize: 1,
                            color: 'white' 
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: false 
                    },
                    labels: {
                        color: 'white' 
                    }
                }
            }
        });

        window.addEventListener('resize', function () {
            stackHorizontalChart1.resize();
            stackHorizontalChart2.resize();
        });
    });
</script>
