{% extends 'base.html' %}

{% load static %}

{% block content %}
{% if user.is_authenticated %}
<link rel="stylesheet" href="{% static 'css/table_list.css' %}">
<link rel="stylesheet" href="{% static 'css/import_modal.css' %}">

<div class="container">
  <div class="d-flex">
    <div class="sidebar">
      {% include 'sidebar_filter.html' %}
    </div>
    
    <button id="openModal" class="modal-button">Import</button>

    <div class="main-content ms-auto">
      <div class="container-fluid">
        {% if applicants %}
        <h1>Passed List</h1>
        <div class="box">
          <div class="boxesbutton">
            <button type="button" id="exportButton" class="image-button">
              <img src="{% static 'images/download.png' %}" alt="export" class="img-resize">
            </button>
          </div>
          <div class="table-container">
            <table class="table">
              <thead>
                <tr>
                  <th class="table-header">Control Number</th>
                  <th class="table-header">Name</th>
                  <th class="table-header">School</th>
                  <th class="table-header">Course</th>
                </tr>
              </thead>

              <tbody>
                <div class="scrollable-container">
                  {% for applicant in applicants %}
                    <tr onclick="window.location='{% url 'inb_passed_applicant_info' applicant.control_number %}';"
                      style="cursor: pointer;">
                      <td>{{ applicant.control_number }}</td>
                      <td>{{ applicant.fullname }}</td>
                      <td>{{ applicant.school }}</td>
                      <td>{{ applicant.course }}</td>
                    </tr>
                  {% endfor %}
                </div>
              </tbody>
            </table>
            {% else %}
            <div class="d-flex justify-content-center center-container">
              <h1>No student records found.</h1>
            </div>            
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}


  <div id="importModal" class="modal-container">
    <div class="modal-box">
        <h2>Import Grades</h2>

        {% include 'modal/import_grades.html' %}

        <button id="closeModal" class="modal-button">Close</button>
    </div>
  </div>

</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
  var openModalButton = document.getElementById("openModal");
  var importModal = document.getElementById("importModal");
  var closeModalButton = document.getElementById("closeModal");

  openModalButton.addEventListener("click", function () {
      importModal.style.display = "flex";
  });

  closeModalButton.addEventListener("click", function () {
      importModal.style.display = "none";
  });
});

</script>
{% endblock %}
