{% extends 'base.html' %}

{% load static %}

{% block content %}
{% if user.is_authenticated %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">


<div class="container">
  <div class="d-flex">
    <div class="sidebar">
      {% include 'sidebar_filter.html' %}
    </div>

    <div class="main-content ms-auto">

      <div class="container-fluid">
        <h1>Iskolar ng Bayan</h1>
        <div class="box">

          <div>
            <a href="{% url 'add_inb_applicant' %}">
              <img src="{% static 'images/add.png' %}" class="img-resize">
            </a>

          <button type="button" id="importButton">
              <img src="{% static 'images/upload.png' %}" class="img-resize">
          </button>

            <a href="{% url 'export' %}">
              <img src="{% static 'images/download.png' %}" class="img-resize">
            </a>

          </div>

          {% if records %}
          <div class="table-container">
            <table class="table">
              <thead>
                <tr>
                  <th class="table-header">Requirements</th>
                  <th class="table-header">Control Number</th>
                  <th class="table-header">Name</th>
                  <th class="table-header">School</th>
                  <th class="table-header">Course</th>
                </tr>
              </thead>

              <tbody>
                {% for applicant_record, requirement_record in records %}
                <tr onclick="window.location='{% url 'inb_applicant_info' applicant_record.id %}';"
                  style="cursor: pointer;">
                  <td>{% if requirement_record.requirement == 13 %}
                    Complete
                    {% else %}
                    {{requirement_record.requirement}}/13
                    {% endif %}
                  </td>
                  <td>{{ applicant_record.control_number }}</td>
                  <td>{{ applicant_record }}</td>
                  <td>{{ applicant_record.school }}</td>
                  <td>{{ applicant_record.course }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% else %}
          <div class="d-flex justify-content-center">
            <h1>There are no applicants.</h1>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


<div id="ImportFormContainer" class="modal-container">
  <div class="modal-course">
    <div class="center-course">
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <label for="id_file">Choose File:</label>
          <input type="file" name="file" id="id_file">
          <button type="submit" class="modal-button">Import</button>
      </form>
      <button type="button" id="closeButton" class="modals-button">Close</button>
      </div>
  </div>
</div>


<script>
 document.addEventListener('DOMContentLoaded', function () {
    var modalContainer = document.getElementById('ImportFormContainer');
    var importButton = document.getElementById('importButton');
    var closeButton = document.getElementById('closeButton');
    var form = document.querySelector('#ImportFormContainer form');

    importButton.addEventListener('click', function () {
      modalContainer.style.display = 'block';
    });

    closeButton.addEventListener('click', function () {
      modalContainer.style.display = 'none';
    });

    form.addEventListener('submit', function (event) {
      event.preventDefault();

     
      console.log('Form submitted!');

    });

    window.addEventListener('click', function (event) {
      if (event.target === modalContainer) {
        modalContainer.style.display = 'none';
      }
    });
  });
</script>

{% endif %}
{% endblock %}