{% extends 'base.html' %}

{% load static %}

{% block content %}
{% if user.is_authenticated %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">

<div class="container">
  <div class="d-flex">
    <div class="sidebar">
      {% include 'sidebar_filter.html' %}
    </div>

    <div class="main-content ms-auto">

      <div class="container-fluid">
        <h1>Iskolar ng Bayan</h1>
        <div class="box">

          <div>
            <a href="{% url 'add_inb_applicant' %}">
              <img src="{% static 'images/add.png' %}" class="img-resize">
            </a>

            <a href="{% url 'import' %}">
              <img src="{% static 'images/upload.png' %}" class="img-resize">
            </a>

            <a href="{% url 'export' %}">
              <img src="{% static 'images/download.png' %}" class="img-resize">
            </a>

          </div>

          {% if records %}
          <div class="table-container">
            <table class="table">
              <thead>
                <tr>
                  <th class="table-header">Requirements</th>
                  <th class="table-header">Control Number</th>
                  <th class="table-header">Name</th>
                  <th class="table-header">School</th>
                  <th class="table-header">Course</th>
                </tr>
              </thead>

              <tbody>
                {% for applicant_record, requirement_record in records %}
                <tr onclick="window.location='{% url 'inb_applicant_info' applicant_record.id %}';"
                  style="cursor: pointer;">
                  <td>{% if requirement_record.requirement == 13 %}
                    Complete
                    {% else %}
                    {{requirement_record.requirement}}/13
                    {% endif %}
                  </td>
                  <td>{{ applicant_record.control_number }}</td>
                  <td>{{ applicant_record }}</td>
                  <td>{{ applicant_record.school }}</td>
                  <td>{{ applicant_record.course }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% else %}
          <div class="d-flex justify-content-center">
            <h1>There are no applicants.</h1>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}