<div id="importModal" class="main-modal fixed w-full h-100 inset-0 z-50 overflow-hidden flex justify-center items-center animated fadeIn faster"
    style="background: rgba(0,0,0,.7); display: none;">
    <div class="modal-container bg-gray-800 w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
        <div class="modal-content py-4 text-left px-6">

            <div class="flex justify-center items-center pb-3 border-b">
                <h1 class="text-2xl font-bold ">IMPORT</h1>
            </div>

            <form method="post" action="{% url 'import_applicant' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="my-5">
                
                    {{ import_form.file }}
                 
                </div>

                <div class="flex justify-end pt-2">
                    <button type="button" id="cancelImportButton"
                        class="focus:outline-none modal-close px-4 bg-gray-400 p-3 rounded-lg  hover:bg-gray-300">Cancel</button>


                    <button type="submit" class="focus:outline-none px-4 bg-teal-500 p-3 ml-3 rounded-lg text-white hover:bg-teal-400">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
   
    function openImport() {
        const modal = document.getElementById('importModal');
        modal.style.display = 'flex';
    }


    function closeModal() {
        const modal = document.getElementById('importModal');
        modal.style.display = 'none';
    }

    if (document.getElementById('importModal')) {
        
        document.getElementById('openModal').addEventListener('click', openModal);

        document.getElementById('cancelButton').addEventListener('click', function () {
            closeModal();
        });
    }


</script>


