{% extends 'base.html' %}

{% load static %}

{% block content %}
  {% if user.is_authenticated %}
  <link rel="stylesheet" href="{% static 'css/table.css' %}">

    <div class="d-flex">
      <div class="sidebar">
        {% include 'sidebar_filter.html' %}
      </div>

      <div class="main-content flex-grow-1">
        <div class="container-fluid custom-container">
          <div class="box">
            <h1>Iskolar ng Bayan</h1>
              {% if applicants %}
              <div class="table-container">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="table-header">Control Number</th>
                      <th class="table-header">Name</th>
                      <th class="table-header">Reason</th>
                      </tr>
              </thead>
              <tbody>
              {% for applicant in applicants %}
              <tr onclick="window.location='{% url 'inb_failed_applicant_info' applicant.control_number %}';" style="cursor: pointer;">
                      <td>{{ applicant.control_number }}</td>
                      <td>{{ applicant.fullname }}</td>
                      <td></td>
              
                  </tr>
              {% endfor %}
              </tbody>
          </table>
          {% else %}
          <div class="d-flex justify-content-center">
              <h1>No student records found.</h1>
          </div>
          {% endif %}
        </div>
      </div>
  {% endif %}
  
{% endblock %}
