{% extends 'base.html' %}
{% load static tailwind_tags %}

{% load widget_tweaks %}

    {% tailwind_css %}

    {% block content %}
<style>
    ::-webkit-scrollbar {
        width: 2px;
        height: 5px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
</style>
<div class="px-10 mx-5">


    <div class="py-3 mb-3 mr-10">
        <h1 class="text-4xl">Iskolar Ng Biñan</h1>
        <h3 class="text-cyan-400">APPLICANTS REQUIREMENTS</h3>
    </div>

    <div class="flex space-x-4 mt-1 ml-auto">
        <button
            class="text-white h-12 bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
            onclick="goBack()"> Go Back </button>
    </div>
</div>

<form method="post" action="{% url 'inb_requirements_list' student.control_number %}">
    {% csrf_token %}

    <div class="px-10 mx-5">
        <div class="mb-5 border-b border-gray-300 max-w-sm">
            <div class="flex">
                <label class="text-gray-500 sm:text-lg mr-5">Requirements for: </label>
                <label class="sm:text-xl font-bold">{{ student.control_number }}</label>
            </div>
        </div>

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg"
            style="scrollbar-width: thin; scrollbar-color: #888 #f1f1f1;">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 ">
            <thead class="text-xs text-gray-700 uppercase dark:bg-violet-950 dark:text-white z-0">
                <tr>
        
                    <th scope="col" class="px-6 py-4 font-normal text-gray-900 whitespace-nowrap dark:text-white">
                        <input type="checkbox" class="" id="selectAll">
        
                    </th>
                    <th scope="col" class="px-6 py-3  pr-2">Requirements</th>
                </tr>
            </thead>
            <tbody>
                {% for requirement in requirements %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="px-6 py-4 whitespace-nowrap">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="requirements" value="{{ requirement.id }}" {% if requirement.is_met %}checked{% endif %}>
                        </div>
                    </td>
                    <td class="px-6 py-4 text-gray-900 dark:text-white">
                        {{ requirement.requirement }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>

        </div>




    <div class="flex justify-end">
        <button 
            type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 mt-5">Save</button>
    </div>


</form>
</div>


<script>
    function goBack() {
        window.history.back();
    }

    document.getElementById('selectAll').addEventListener('click', function () {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        var selectAllChecked = document.getElementById('selectAll').checked;
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = selectAllChecked;
        });
    });
</script>

{% endblock %}