{% extends 'base.html' %}

{% load static %} 

{% block content %}


<h1>Update Record</h1>
    <div class="col-md-6 offset-md-3"></div>

    <br/>
    <form method = "POST">
        {% csrf_token %}
        
        <div class = "text-center">
            <h3>Personal Data</h3>
        </div>

        <div class="form-group row">
            <div class="col">
            {{ form.control_number }}
        </div>
        </div>

        <div class="form-group row">
            <div class="col">
                {{ form.first_name }}
                <div class="subscript">{{ form.first_name.help_text | safe }}</div>
            </div>
            <div class="col">
                {{ form.last_name }}
                <div class="subscript">{{ form.last_name.help_text | safe }}</div>
            </div>
            <div class="col">
                {{ form.middle_name }}
                <div class="subscript">{{ form.middle_name.help_text | safe }}</div>
            </div>
        </div>

        <!-- need some edit pa -->
        <div class="form-group row">
            <div class="col">
            {{ form.address }}
            <div class="subscript">{{ form.address.help_text | safe }}</div>
        </div>
        </div>

        <div class="form-group row"> 
            <div class="col-2">
                {{ form.date_of_birth }}
            </div>
        
            <div class="col-2">
                {{ form.place_of_birth }}
            </div>

            <div class="col-2">
                {{ form.gender }}
            </div>

            <div class="col-2">
                {{ form.contact_no }}
            </div>
        </div>
        
        <div class="form-group row"> 
            <div class="col">
            {{ form.email_address }}
            </div>

            <div class="col">
            {{ form.school }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
            {{ form.course }}
            </div>
       
            <div class="col">
            {{ form.gwa }}
            </div>

            <div class="col">
            {{ form.rank }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
            {{ form.jhs }}
            </div>

            <div class="col">
            {{ form.jhs_address }}
            </div>

            <div class="col">
            {{ form.jhs_educational_provider }}
            </div>
        </div>
     
        <div class="form-group row">
            <div class="col">
            {{ form.shs }}
            </div>
    
            <div class="col">
            {{ form.shs_address }}
            </div>

            <div class="col">
            {{ form.shs_educational_provider }}
            </div>
        </div>
    


        <div class = "text-center">
            <h3>Family Data</h3>
        </div>

        <div class="form-group row">
            <label for="applicant_father">Father</label>
            <div class="col">
            {{ form.father_voter_status }}
            </div>

            <div class="col">
            {{ form.father_name }}
            </div>
        
            <div class="col">
            {{ form.father_educational_attainment }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
            {{ form.father_occupation }}
            </div>
            <div class="col">
            {{ form.father_employer}}
            </div>
        </div>
        


        <div class="form-group row">
            <label for="applicant_mother">Mother</label>
            <div class="col">
            {{ form.mother_voter_status }}
            </div>

            <div class="col">
            {{ form.mother_name }}
            </div>

            <div class="col">
            {{ form.mother_educational_attainment }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
            {{ form.mother_occupation}}
            </div>

            <div class="col">
            {{ form.mother_employer}}
            </div>
        </div>

        <div class="form-group row">
            <label for="applicant_guardian">Guardian</label>
            <div class="col">
            {{ form.guardian_voter_status }}
            </div>
            
            <div class="col">
            {{ form.guardian_name }}
            </div>

            <div class="col">
            {{ form.guardian_educational_attainment }}
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col">
            {{ form.guardian_occupation }}
            </div>

            <div class="col">
            {{ form.guardian_employer }}
            </div>
        </div>
    
    <div class = "text-center">
        <a href = "{% url 'inb_applicant_list' %}" class="btn btn-secondary">Back</a>
        <button type="submit" class ="btn btn-secondary">Update Record</button>
    </div>  

</form>
</div>

{% endblock %}