{% extends 'base.html' %}

{% load static %}

{% block content %}
{% if user.is_authenticated %}
<link rel="stylesheet" href="{% static 'css/table_list.css' %}">
<link rel="stylesheet" href="{% static 'css/import_modal.css' %}">

<div class="container">
  <div class="d-flex">
    <div class="sidebar">
      {% include 'sidebar_filter.html' %}
    </div>

    <div class="main-content ms-auto">

      <div class="container-fluid">
        <h1>Financial Assistance</h1>
        <div class="box">

          <div>
            <button type="button" id="addButton">
              <img src="{% static 'images/add.png' %}" alt="Add" class="img-resize">
            </button>
          
            <button type="button" id="importButton" class="image-button">
              <img src="{% static 'images/upload.png' %}" alt="Upload" class="img-resize">
            </button>
          
            <a href="{% url 'export' %}">
              <img src="{% static 'images/download.png' %}" class="img-resize">
            </a>
          
            <form method="post" action="{% url 'inb_filter_applicants' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-secondary">Filter Applicants</button>
            </form>
          
          </div>

          {% if records %}
          <div class="table-container">
            <table class="table">
              <thead>
                <tr>
                  <th class="table-header">Requirements</th>
                  <th class="table-header">Control Number</th>
                  <th class="table-header">Name</th>
                  <th class="table-header">School</th>
                  <th class="table-header">Strand</th>
                </tr>
              </thead>

              <tbody>
                {% for applicant_record, requirement_record in records %}
                <tr onclick="window.location='{% url 'fa_applicant_info' applicant_record.id %}';"
                  style="cursor: pointer;">
                  <td>{% if requirement_record.requirement == 8 %}
                    Complete
                    {% else %}
                    {{requirement_record.requirement}}/8
                    {% endif %}
                  </td>
                  <td>{{ applicant_record.control_number }}</td>
                  <td>{{ applicant_record }}</td>
                  <td>{{ applicant_record.school }}</td>
                  <td>{{ applicant_record.strand }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% else %}
          <div class="d-flex justify-content-center">
            <h1>There are no applicants.</h1>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div id="schoolFormContainer" class="modal-container">
  <div class="modal-box">
    <form method="POST" action="{% url 'add_fa_applicant' %}">
        {% include 'FA/assistance_add_applicant.html' %}
    </form>
  </div>
</div>


<script src="{% static 'js/modals.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var dateOfBirthSelect = document.getElementById("id_date_of_birth");
    dateOfBirthSelect.addEventListener("change", function () {
      dateOfBirthSelect.classList.remove("placeholder");
    });

    var schoolForm = document.getElementById("schoolForm");

    document.getElementById('openSchoolForm').addEventListener('click', function () {
      document.getElementById('schoolFormContainer').style.display = 'flex';
      initializeInputBox();
    });
  });
</script>

{% endblock %}