{% extends 'base.html' %}
{% load static tailwind_tags %}

{% load widget_tweaks %}

    {% tailwind_css %}

    {% block content %}

    <div class="flex justify-between">
      <div class="py-3 ml-96 mb-12">
          <h1 class="text-4xl">ISKOLAR NG BIÑAN</h1>
          <h3 class="text-cyan-400">ISKOLAR NG BINAN STUDENT APPLICANT DETAILS</h3>
      </div>

    <div class="flex space-x-2 mr-96">
        <a href="{% url 'fa_applicant_list' %}" class="text-white h-10 bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-700 dark:hover:bg-gray-800 dark:focus:ring-gray-800 dark:border-gray-800">Back</a>
      
        <form action="{% url 'fa_requirements_list' control_number=records.control_number %}" method="get">
          <button class="text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-700 dark:border-purple-700">View INB Requirements</button>
        </form>
      </div>
    </div>

    <div class="container mt-4 mx-auto max-w-5xl">
      <div class="grid grid-cols-2 gap-4 mb-5">
        <div class="sm:text-sm">
          <div>
            <label class="text-gray-500 sm:text-sm">Control Number:</label>
            <label class="sm:text-sm font-bold">{{ records.control_number }}</label>
          </div>
          <div>
            <label class="text-gray-500 sm:text-sm">Name:</label>
            <label class="sm:text-sm font-bold">{{ records }}</label>
          </div>
      </div>

      <div class="text-right">
          <a href = "{% url 'update_fa_record' records.id  %}"  class="text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-500 dark:hover:bg-green-600 dark:focus:ring-green-600 dark:border-green-600">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block align-middle" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M12 19l-7-7 7-7M19 14v6a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6"></path>
            </svg>
          </a>
          <a href="{% url 'delete_applicant_id' records.id 'fa_application' %}" class="text-white bg-red-500 hover:bg-red-600 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-600 dark:border-red-600">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block align-middle" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M3 6h18M4 8h16v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V8zm9 8v4"></path>
            </svg>
          </a>
        </div>
      </div>

      <div class="text-left text-2xl text-gray-300 font-bold mb-2">
        Personal Details
      </div>
      
    </div>

   


{% endblock %}
