{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Applicant Information</h1>

    <p>Control Number: {{ passed_applicant.control_number }}</p>
    <p>Name: {{ passed_applicant.fullname }}</p>
    <p>School: {{ passed_applicant.school }}</p>
    <p>Course: {{ passed_applicant.course }}</p>

    <br>
    <h1>Grades</h1>

 

    <a href="{% url 'delete_applicant' passed_applicant.control_number 'fa_passed' %}" class="btn btn-danger">Delete Application</a>

    <a href="{% url 'fa_passed_applicant' %}" class="btn btn-secondary">Back to Applicant List</a>
</div>
{% endblock %}
