* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: url('/static/images/background.png');
    background-position: center;
    background-size: cover;
    align-items: center;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 760px;
    width: 430px;
    background: #ffff;
    border-radius: 10px;

}

.container h2 {
    text-align: center;
    padding: 0 0 20px 0;
    font-size: 20;
    font-weight: 600;
    position: relative;
    top: 30px;
    left: calc(20% - 76px);
}

.container h4

/* account login */
    {
    text-align: center;
    padding: 0 0 20px 0;
    font-size: 10;
    font-weight: 500;
    position: relative;
    top: 20px;
}

.container img {
    width: 70px;
    border-radius: 50%;
    position: relative;
    top: 30px;
    left: calc(50% - 35px);
    cursor: pointer;
}

.container .input-username {
    position: relative;
    width: 100%;
    height: 55px;
    padding: 5px 0 0 0;
    margin: 5px 30px;
}

.container .input-pass {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 57px 0 0 0;
    margin: 19px 30px;
}

.input-username p
{
    position: relative;
    left: 10px;
    font-size: 10px;
}

.input-box p {
    position: relative;
    left: 10px;
    font-size: 10px;
}

.container .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 15px 0 0 0;
    margin: 6px 30px;
}

.input-box input,
.input-username input, 
.input-pass input {

    width: 370px;
    height: 45px;
    background: #E4E5EB;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 45px;
    
    justify-items: center;
}

.container .remember-forget {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 15px 0 15px 20px;
    padding-right: 25px;
    color: rgb(211, 188, 142);
    text-shadow: 0px .5px #4d4d4d;
}

.remember-forget label input {
    accent-color: rgb(211, 188, 142);
    margin-right: 5px;
}

.remember-forget a {
    color: rgb(211, 188, 142);
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
}

.container .btn {
    margin-top: 40px;
    margin-left: 30px;
    width: 370px;
    height: 45px;
    background: #393B40;
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .5);
    cursor: pointer;
    font-size: 15px;
    color: #D3BC8E;
    font-weight: 400;
}

.container .signup {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

.signup a {
    color: #000000;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}
