{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/list_course_school.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/css/multi-select-tag.css">

    <div class="school-course-body">
        <a class="modal-button" href="{% url 'sc_list' %}">Go Back</a>
            {% csrf_token %}
            
         

            <div class="center-container">
                {% for school_with_courses in schools_with_courses %}
                    {% if forloop.counter0|divisibleby:4 %}
                        </div>
                        <div class="inline-flex-container">
                    {% endif %}
                    <div class="container-box">
                        <div class="header-container">
                            <h1 class="head-school">
                                <span class="school-text" data-school-id="{{ school_with_courses.school.id }}">{{ school_with_courses.school.school }}</span>
                                <input type="text" name="school_{{ school_with_courses.school.id }}" value="{{ school_with_courses.school.school }}" class="school-input" style="display: none;" />
                            </h1>
                        
                            <div class="icon-position">
                                <button type="button" class="edit-button" data-school-id="{{ school_with_courses.school.id }}">
                                    <i class="fa-solid fa-pencil"></i>  
                                </button>
                                
                                <button type="button" class="delete-button" data-school-id="{{ school_with_courses.school.id }}">
                                    <i class="fa-solid fa-trash" id="openDeleteModal"></i>
                                </button>
                            </div>                                           
                        </div>
                        <div class="scrollable-container">
                            {% for course in school_with_courses.courses %}
                                <div class="course-container">
                                    <div class="text-course">
                                        <i class="fas fa-ellipsis-vertical update-course-button"></i>
                                        <span class="course-data" data-course-id="{{ course.id }}">{{ course.course }} {{ course.id }}</span>
                                    </div>
                                    <div class="dropdown-content">
                                        <a class="dropdown-test delete-course-button" data-course-id="{{ course.id }}">Delete</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


        <div id="deleteSchoolConfirmationContainer" class="delete-modal-container">
            <div class="modal-course">
                <div class="center-course">
                    <h1 class="school-text" data-school-id="{{ school_with_courses.school.id }}">
                        Are you sure you want to delete {{ school_with_courses.school }}?
                    </h1>
                    <form method="post" id="deleteForm">
                        {% csrf_token %}
                        <div class="inline-flex-container">
                            <button type="submit" class="modal-button" id="deleteYesButton">Yes</button>
                            <button type="button" class="modal-button" id="deleteNoButton">No</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    <div id="deleteCourseConfirmationContainer" class="delete-modal-container">
        <div class="modal-course">
            <div class="center-course">
                <h1 class="school-text" data-course-id="">Are you sure you want to delete this course?</h1>
                <form method="post" id="deleteCourseForm" action="{% url 'delete_course' course_id=0 %}">
                    {% csrf_token %}
                    <input type="hidden" id="courseIdInput" name="course_id" value="">
                    <div class="inline-flex-container">
                        <button type="submit" class="modal-button" id="deleteYesButton">Yes</button>
                        <button type="button" class="modal-button" id="deleteCourseNoButton">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div id="updateSchoolConfirmationContainer" class="update-modal-container">
        <div class="update-modal">
            <div class="update-center">
                <h1>Edit <span id="editSchoolName"></span> (ID: <span id="editSchoolId"></span>)</h1>
                <form method="POST" action="" id="updateForm">
                    {% csrf_token %}
                    <input type="text" name="school" id="editSchoolInput" class="form-control">
                    <div class="inline-flex-container">
                        <button class="modal-button" type="submit">Yes</button>
                        <button class="modal-button" id="updateNoButton">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>




<script src="{% static 'js/update-delete-s-c.js' %}"></script>

    

<script>
    document.addEventListener("DOMContentLoaded", function() {
          const editButtons = document.querySelectorAll('.edit-button');
          const updateForm = document.getElementById('updateForm');
          const editSchoolName = document.getElementById('editSchoolName');
          const editSchoolId = document.getElementById('editSchoolId');
          const editSchoolInput = document.getElementById('editSchoolInput');
  
          editButtons.forEach(editButton => {
              editButton.addEventListener('click', function() {
                  const schoolId = this.getAttribute('data-school-id');
                  const schoolName = this.parentNode.parentNode.querySelector('.school-text').innerText;
  
                  updateForm.action = `/Update_School_List/${schoolId}/`;
  
                  editSchoolName.innerText = schoolName;
                  editSchoolId.innerText = schoolId;
                  editSchoolInput.value = schoolName;
              });
          });
      });
  
    const scListUrl = "{% url 'sc_list' %}";

    var buttons = document.querySelectorAll('.update-course-button');
    
    buttons.forEach(function(button) {
        button.addEventListener('click', function() {
            var dropdown = this.closest('.course-container').querySelector('.dropdown-content');
            dropdown.style.display = (dropdown.style.display === 'block') ? 'none' : 'block';
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        var deleteButtons = document.querySelectorAll('.delete-course-button');
        var courseIdInput = document.getElementById('courseIdInput');
        var deleteCourseForm = document.getElementById('deleteCourseForm');

        deleteButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var courseId = button.getAttribute('data-course-id');
                courseIdInput.value = courseId;

                deleteCourseForm.action = '{% url "delete_course" course_id=0 %}'.replace('0', courseId);
             
                document.getElementById('deleteCourseConfirmationContainer').style.display = 'block';
            });
        });

        document.getElementById('deleteCourseNoButton').addEventListener('click', function () {
       
            document.getElementById('deleteCourseConfirmationContainer').style.display = 'none';
        });
    });

  </script>

{% endblock %}