
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<div class="chart-wrapper" style="width: 600px; height: 400px;">
    <canvas id="myChart" width="600" height="250"></canvas>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('myChart').getContext('2d');

        const labels = {{ unique_years_list|safe }};
        const data = {
            labels: labels,
            datasets: [{
                label: 'Graduates Count',
                data: [
                    {% for entry in graduated_data %}
                        {{ entry.graduates_count }},
                    {% endfor %}
                ],
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        };

        var myChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                responsive: true,
                maintainAspectRatio: false,
            }
        });
    });
</script>

