{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

<div class="dash-container">
  <div class="dash-header">
    <div class="title">
      <p class="large">Dashboard:</p>
      <p class="medium">Iskolar ng Biñan</p>
    </div>
    <div class="time">
      <p>{% now "F j, Y " %}</p>
    </div>
  </div>
</div>

<div class="two-column-container">
  <div class="first-column">
    <div class="first-table">
      <div class="scholar-count-container">
        <p>
          <img src="{% static 'images/profile.png' %}" class="resized-image">
        <p class="large-2">{{ count }}</p>
        <p class="medium-2">Total Scholars</p>
        </p>
      </div>
    </div>

    <div class="admitted-applied">
      <div class="aa-table">
        {% include 'Graphs/linegraph.html' %}
      </div>
    </div>

    <div class="course-per-year">
      <div class="course-table">
        <h1>Summary of Course per Year Level</h1>
        <div class="course-dropdown">
          <select>
            <option value="option1">Choose Course</option>
            {% for course in course_list %}
            <option value="{{ course.id }}">{{ course.course }}</option>
            {% endfor %}
          </select>
          <div class="course-selection">
            <div class="scrollable-container">
              {% for course in course_list %}
              <div class="indiv-course">
                <p><img src="{% static 'images/profile.png' %}" style="width: 20px; height: 25px;">
                  {{ course.course }}</p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="map-table">
      <div class="map-container">
        <h1>Grantees Per Barangay</h1>
        <div class="map-and-percentage-container">
          <div class="map"></div>
          <div class="map-percentage"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="second-column">
    <div class="university-scholar">
      <div class="university-table">
        {% include 'Graphs/stackhorizontal.html' %}
      </div>
    </div>


    <div class="total-per-year">
      <div class="bar-table">
        {% include 'Graphs/bargraph.html' %}
        <div>
        </div>
      </div>
      {% endif %}
      {% endblock %}