{% extends 'base.html' %}
{% load static tailwind_tags %}

{% tailwind_css %}

{% block content %}
{% if user.is_authenticated %}
<meta name="viewport" content="width=device-width, initial-scale=1">


<div class="flex justify-center items-center flex-wrap">

    <div class="flex flex-row space-x-4">

        <a href="{% url 'inb-active-scholar-summary' %}">
            <div class="bg-gray-800 rounded flex flex-col justify-center items-center group transition-transform transform hover:scale-105 cursor-pointer"
                style="width: 430px; height: 200px">
                <div class="mt-32">
                    {% include "Graphs/applicant_tracker.html" %}
                </div>
            </div>
        </a>

        <a href="{% url 'inb-graduated-scholar-summary' %}">
            <div class="bg-gray-800 rounded flex flex-col justify-center items-center group transition-transform transform hover:scale-105 cursor-pointer"
                style="width: 430px; height: 200px">
                <div class="mt-32">
                    {% include "Graphs/graduated_tracker.html" %}
                </div>
            </div>
        </a>

        <a href="{% url 'inb-unsuccessful-scholar-summary' %}">
            <div class="bg-gray-800 rounded flex flex-col justify-center items-center group transition-transform transform hover:scale-105 cursor-pointer"
                style="width: 430px; height: 200px">
                <div class="mt-32">
                    {% include "Graphs/unsuccessful_tracker.html" %}
                </div>
            </div>
        </a>



        <a href="{% url 'inb-gender-summary' %}">
            <div class="bg-gray-800 rounded flex flex-col justify-center items-center group transition-transform transform hover:scale-105 cursor-pointer"
                style="width: 430px; height: 200px">
                {% include "Graphs/piegraph-m-f.html" %}
                <label class="text-white"
                    style="color: #39B8FF; font-weight: bold; position: absolute; top: 155px; left: 30%;">Scholar By
                    Gender</label>
            </div>
    </div>
    </a>

</div>
</div>

<div class="flex justify-center items-center mt-4">
    <div class="flex flex-row space-x-4">
        <a href="{% url 'inb-tracker-scholar-summary' %}">
            <div class="bg-gray-800 rounded p-4 group transition-transform transform hover:scale-105 cursor-pointer"
                style="width: 878px; height: 300px;">
                {% include "Graphs/linegraph.html" %}
            </div>
        </a>
        <a href="{% url 'inb-school-scholar-summary' %}">
            <div class="bg-gray-800 rounded p-4 group transition-transform transform hover:scale-105 cursor-pointer"
                style="width: 878px; height: 300px;">
                {% include "Graphs/stackhorizontal.html" %}
            </div>
        </a>

    </div>
</div>

<div class="flex justify-center items-center mt-3">
    <div class="flex flex-row space-x-4">

        <a href="{% url 'inb-year-scholar-summary' %}">
            <div class="bg-gray-800 rounded group transition-transform transform hover:scale-105 cursor-pointer"
                style="width: 580px; height: 280px">
                {% include "Graphs/bargraph.html" %}
            </div>
        </a>

        <a href="{% url 'inb-course-scholar-summary' %}">
            <div class="bg-gray-800 rounded group transition-transform transform hover:scale-105 cursor-pointer"
                style="width: 580px; height: 280px">
                {% include "Graphs/course.html" %}
            </div>
        </a>

        <a href="{% url 'inb-barangay-summary' %}">
            <div class="bg-gray-800 rounded group transition-transform transform hover:scale-105 cursor-pointer"
                style="width: 580px; height: 280px">
                {% include "Graphs/barangay.html" %}
            </div>
        </a>
    </div>
</div>











{% endif %}
{% endblock %}