
{% extends 'base.html' %}

{% load static tailwind_tags %}

{% tailwind_css %}

{% load static %}

{% block content %}


    
    <div class="sidebar">
        <h1>Filter</h1>
        
        <div class="xfilter-container">
            <div class="filter_status xbox">
                <h5>Status</h5>
                <select>
                    <option value="option1">Completed</option>
                    <option value="option2">Incomplete</option>
                </select>
            </div>
        </div>

        
            <div class="yfilter-container">
                <div class="filter_school xbox">
                    <h5>School</h5>
                    <div class="scrollable-container">
                        <ul>
                            {% for school in schools %}
                            <li>
                                <div class="inputted">
                                    <input type="checkbox" name="schools" value="{{ school.id }}">
                                    {{ school.school }}
                                </div>
                            </li>
                            {% empty %}
                            <li>
                                No School Found
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        
            <div class="zfilter-container">
                <div class="filter_course xbox">
                    <h5>Course</h5>
                    <div class="scrollable-container">
                        <ul>
                            {% for course in courses %}
                            <li>
                                <div class="inputted">
                                    <input type="checkbox" name="courses" value="{{ course.id }}">
                                    {{ course.course }}
                                </div>
                            </li>
                            {% empty %}
                            <li>
                                No Course Found
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <input type="submit" value="Filter">

    </div>
{% endblock %}