{% load static %} 

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
</head>
<body>
    <div class="sidebar">
        <h1>Filter</h1>
        <div class="xfilter-container">
            <div class="filter_status xbox">
                <h5>Status</h5>
                <select>
                    <option value="option1">Completed</option>
                    <option value="option2">Incomplete</option>
                </select>
            </div>
        </div>

        <div class="yfilter-container">
            <div class="filter_school xbox">
                <h5>School</h5>
            </div>
        </div>

        <div class="zfilter-container">
            <div class="filter_course xbox">
                <h5>Course</h5>
            </div>
        </div>

    </div>
</body>
</html>
